/* Will define variables a little further into this exercise */

body {
  background: no-repeat right/50% url("../img/wallpaper3.jpg"); /*Source: https://wallpapercave.com/wp/QxnYBjq.jpg */
  background-size: cover;
  background-attachment: fixed;
  background-color: #cccccc;
  font-family: 'Just Another Hand', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 48px;
  letter-spacing: 3px;
  color: #fff5e6;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;

}

.my-button {
  border: none;
  display: inline-block;
  font-family: inherit;
  /*background-color: #ffad33;*/
  background-image: linear-gradient(to bottom right, #fbcd73, #866a29);
  color: #FFEFD5;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: capitalize;
  /*padding: 10px;*/
  border-radius: 15px;
  border-bottom: 2px solid #2b2b2b;
  transition-duration: 0.4s;
  transition-property: opacity;
  /* Will adjust depending on final outlook */
  width: 70%;
  max-width: 550px;
  min-width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.my-button:hover,
.my-button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.listing {
  text-align: center;
  margin-bottom: 40px;
  float: left;
  margin-left: 10%;
  width: 450px;
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
  width: 80%;
}

.pokemon-list li {
  margin: 0;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  /* To show it above other content */
  z-index: 999;

  /* To allow scrolling if the screen is not high enough*/
  overflow: auto;
  /* To center the modal */

  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  /*background-image: linear-gradient(#866a29, #000);*/
  background: no-repeat bottom/60% url("../img/modalwallpaper.jpg"); /* Source: https://cdn.wallpapersafari.com/52/50/jynW2C.jpg */
  background-color: #000;
  background-size: 100%;
  padding: 15px;
  border-radius: 50px;
  width: 100%;
  max-width: 450px;
  text-align: center;
  letter-spacing: 2px;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #e46d33, #000) 1 100%;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #fff5e6;
  text-decoration: none;
}

.modal-close:hover, .modal-close:focus {
  cursor: pointer;
  opacity: 0.7;
  transition-duration: 0.5s;
  transition-property: opacity;
}

.modal h1 {
  margin-top: 10px;
  text-align: center;
  line-height: 100%;
  margin-top: 10px;
}

.modal p {
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  font-size: 24px;
  line-height: 70%;
}

/* Will improve this part once the site has a little more content and button sizes are clear*/
@media all and (max-width: 750px) {

  body {
    background: no-repeat 50% url("../img/mobilewallpaper.jpg"); /* Source: https://avante.biz/wp-content/uploads/Pokemon-Mobile-Wallpapers/Pokemon-Mobile-Wallpapers-003.jpg */
    background-size: cover;
    background-attachment: fixed;
  }

  .listing {
    float: none;
    width: 80%;
  }

  .pokemon-list {
    width: 100%;
  }

  .pokemon-list li {
    width: 100%;
    max-width: 100%;
  }
}

/* For width smaller than 400px: */
/*@media only screen and (max-width: 600px) {

}*/
